/********************* start-planning ************************/     

/******* Background ********/

body {
    background-image: url(../assets/parc-guell-blur-lg.png);
    background-size: cover;
    font-family: 'Muli'; 
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/******* Fonts ********/

h1, h2 {
    font-family: 'Dancing Script';
    font-weight: 400;
}

h1, p{
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 14px;
}

/******* Navigation Section ********/

.fa-bars {
    font-size: 35px;
    margin-top: 30px;
    margin-left: 15px;    
}

.breadcrumbs {
    margin-top: -35px;
    text-align: center;
    position: relative;
    right: 7px;
}

.logo {
    height: 19px;
    transform: rotate(-6deg);
    position: relative;
    bottom: 45px;
    left: 263px;
}

/******* Body Formatting ********/

.text-body {
    margin-top: 125px;
}


/******* Body ********/

.barcelona-again {
    text-align: center;
    margin-top: 125px;
    font-size: 23px;

}

.rounded-box {
    border-radius: 20px;
    border: 1px solid #fff;
    height: 47px;
    width: 263px;
    margin: 15px auto;
    position: relative;
    top: -25px;
    z-index: 0;
}

#vert-line {
    width: 1;
    size: 24px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    height: 23px;
}

#start-address-text {
    font-size: 16px;
    color: rgba(255,255,255,.57);
    float: right;
    position: relative;
    right: 35px;
    top: -1px;
}


/******* Footer ********/

main {
    flex: 1;
}

footer{
    height: 75px;
    background-color: #4FA5EE;
    position: relative;
    top: 204px;
}

footer p{
    margin-top: 27px;
    font-size: 20px;
}

