/******* User Review Input ********/


body {
    font-family: 'Muli-Light'; 
    color: #000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


h1 {
    font-family: 'Dancing Script';
    font-weight: 400;
    text-align: center;
}

h3 {
    font-weight: 300;
    color: #4A4A4A;  
}

p {
    font-weight: 300;
    font-size: 14px;
    color: #4A4A4A;
}

/******* Navigation Section ********/

.header {
    background-color: #0C74CD;
    height: 75px;
}

.fa-chevron-left {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 28px;
    left: 20px;
}

.breadcrumbs {
    text-align: center;
    color: #fff;
        position: relative;
    bottom: 25px;
}

.logo {
    height: 19px;
    transform: rotate(-6deg);
    position: relative;
    bottom: 72px;
    left: 272px;
}

/******* Landmark Title ********/

#landmark-title{
    width: 100%;
    height: 213px;
    background-image: url(../assets/palau-musica-image.png);
    background-size: cover;
    background-position-x: center;
    background-color: rgba(0,0,0,0.7);
}

.palau-text {
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-top: 70px;
}

.top {
    margin-bottom: -70px;
}

#three-circles {
    color: #fff;
    position: relative;
    left: 150px;
    top: 15px;
}

.fa-circle {
    padding: 0 4px; 
} 

.dark {
    color: #9b9b9b;
}

/******* Body ********/

#information {
    background-color: #EFF0F5;
    height: 400px;
    font-size: 15px;
    font-weight: 400;
}

#hours-website {
    margin-left: 15px;
}

#hours, #website {
    margin-top: -12px;
}

.fa-star {
    color: #F5A623;
    font-size: 20px;
}

.group-star {
    float: right;
    margin-top: -50px;
    margin-right: 15px;
}

#reviews {
    margin-top: 3px;
    margin-left: 25px;
}

#line-divider {
    width: 300px;
    color: #4A4A4A;
    margin-top: 20px;
}

#all-background {
    margin-top: -5px;
}

#background {
    margin-left: 15px;
}

.background-info {
    padding: 0px 20px;
    margin-top: -10px;
}

.two {
    margin-top: 5px;
}

/******* Footer ********/

footer {
    height: 65px;
    background-color: #4FA5EE;
}

footer p {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 22px;
}