body {
  background-image: url(../assets/eiffel-tower.png);
  background-size: cover;
  font-family: 'Muli'; 
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


h1, h3, p{
  text-align: center;
}

.rounded-box {
  border-radius: 20px;
  border: 1px solid #fff;
  height: 47px;
  width: 263px;
  margin: 15px auto;    
}

.fa-bars {
  font-size: 35px;
  margin-top: 30px;
  margin-left: 15px;    
}

.rounded-box .fa-calendar {
  font-size: 25px;
  position: relative;
  left: 220px;
  top: -40px;
}

main {
    flex: 1;
}

footer{
    height: 75px;
    background-color: blue;
}