/******* User Review Input ********/


body {
    font-family: 'Muli'; 
    color: #000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: 'Dancing Script';
    font-weight: 400;
}

h3 {
    margin-top: -23px;
}

p {
    font-weight: 300;
    font-size: 14px;
}

h1, h3, p{
    text-align: center;
}

/******* Navigation Section ********/

.header {
    background-color: #0C74CD;
    height: 75px;
}

.fa-bars {
    font-size: 35px;
    color: #fff;
    position: relative;
    top: 20px;
    left: 25px;
}

.breadcrumbs {
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 36px;
    right: 10px;
}

.logo {
    height: 19px;
    transform: rotate(-6deg);
    position: relative;
    left: 262px;
    bottom: 84px;
}

/******* Body ********/

.rating-thoughts {
    background-color: #EFF0F5;
    height: 315px;
}

/******* Landmark Title ********/

#landmark-title{
    width: 375px;
    height: 213px;
    background-image: url(../assets/palau-musica-image.png);
    background-size: cover;
    background-position-x: center;
    background-color: rgba(0,0,0,0.7);
}

.palau-text {
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-top: 70px;
}

.top {
    margin-bottom: -70px;
}

#three-circles {
    color: #fff;
    position: relative;
    left: 150px;
    top: 15px;
}

.fa-circle {
    padding: 0 4px; 
} 

.dark {
    color: #9b9b9b;
}


/******* Ratings ********/

#rating-question {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    margin: 20px 40px;
}

.group-star {
    margin: 20px 104px;
    margin-top: -10px;
    font-size: 28px;
    color: #4A4A4A;
}

.fa-star {
    color: #F5A623;
}

.fa-star-o:hover {
    fill: #F5A623;
}

#rate {
    font-size: 16px;
    text-align: center;
    margin-top: -5px;  
}

/******* Comment Box ********/

#comment-box{
    border: 1px solid #979797;
    height: 135px;
    width: 340px;
    background-color: #fff;
    margin: auto;
}

#thoughts-text {
    margin-left: -240px;
    color: #9B9B9B;
    font-size: 16px;
}

/******* Footer ********/

main {
    flex: 1;
}

footer{
    height: 65px;
    background-color: #4FA5EE;
}

footer p{
    margin-top: 23px;
    font-size: 20px;
    color: #fff;
}

